<div class='generator'>
  <h1>{{title}}</h1>
  <app-list [teamMembers]='teamMembers'></app-list>
  <div class='input-container'>
    <input #member type="string" (input)="onInput(member.value)" [value]="newMember" placeholder='Name...' required>
    <button class='btn add' (click)="addMember()">
      Add
    </button>
  </div>
  <div class='input-container'>
    <input #No type="number" (input)="updateNo(No.value)" [value]="teamNo" placeholder='No. of teams' required>
    <button class='btn create' (click)='generateTeams()'>
      Create Teams
    </button>
  </div>
  <p *ngIf='error' class='error-box'>
    {{error}}
  </p>
</div>
<app-teams [teams]='teams'></app-teams>
