<div class='root'>
  <div>
    <h1>{{title}}</h1>
  </div>
  <ul>
    <li *ngFor="let member of teamMembers">{{member}}</li>
  </ul>
  <div class='input-container'>
    <input #member type="string" (input)="onInput(member.value)" [value]="newMember" placeholder='Name...' required>
    <button class='btn add' (click)="addMember()">
      Add
    </button>
  </div>
  <div class='input-container'>
    <input #No type="number" (input)="updateNo(No.value)" [value]="teamNo" placeholder='No. of teams' required>
    <button class='btn create' (click)='generateTeams()'>
      Create Teams
    </button>
  </div>
  <p *ngIf='error' class='error-box'>
    {{error}}
  </p>
  <div *ngIf='teams'>
    <div *ngFor='let team of teams; index as i'>
      <h1>Team {{i + 1}}</h1>
      <p *ngFor='let player of teams[i]'>{{player}}</p>
    </div>
  </div>
</div>
